/* container div that holds header, footer and body */
#container{
    padding: 1em;
    width: 1100px; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

#header, #footer, #main_content{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 1em;
} 

#header{
    font-size: large;
    font-style: italic;
    text-align: center;
    background: darkolivegreen;
}

#footer{
    text-align: center;
    background: darkolivegreen;
}

#main_content{
    background: darkseagreen;
}

#login_form{
    margin-top: 150px;
    margin-left: 420px;
    margin-right: 420px;
    margin-bottom: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 1em;
    background: darkseagreen;
    font-family: sans-serif;
}

#login_form input[type=text]{
    display: block;
}

#login_form input[type=password]{
    display: block;
}

#login_form input[type=submit]{
    padding: 0.3em;
    width: 60px;
}

a:hover{
    text-decoration: none;
    color: red;
}
