/* container div that holds header, footer and body */
#container{
    padding: 1em;
    width: 1100px; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

#header, #footer, #main_content{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 1em;
} 

#header{
    font-size: large;
    font-style: italic;
    text-align: center;
    background: darkolivegreen;
}

#footer{   
    text-align: center;
    background: darkolivegreen;
}

#main_content{
    background: darkseagreen;
}