/* Window that contains side menu and main content */
#main{
    width: 96%;
    float: left;
    clear: left;    
    border-radius: 5px;
    padding: 1em;
/*    background-color:  #99ccff;*/
/*    background-color:  #999999;*/
    background-color: #333333;
}

#footer{
    float: left;
    clear: left;
    font-style: oblique;
    margin-top: 5px;
    background: url('../assets/images/body-bg.jpg');
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 1em;
    width: 96%;
}

#header{
    float: left;
    background: url('../assets/images/body-bg.jpg');
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 1em;
    width: 96%;
}

/* Add course form */
#course_form input[type=text]{
    width: 250px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Admin panel */
#menu{
    float: left;
    width: 700px;
}

#values{
    width: 400px;
    float: left;
    font-size: x-large;
}

#labels{
    width: 250px;
    float: left;
    font-size: x-large;
}

#x{
    float: left;
    clear: left;
    margin-top: 20px;
}

/* Course list */
#course_list{
    border: 1px solid #00002F;
}

/* Profile */
#profile{
    border: 1px solid black;
    padding: 0.5em;
    font-size: large;
}

body{
    background: url('../assets/images/main-div-bg.png');
}

/* Container div for header, main body and footer */
#main_div{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Side menu */
#sidemenu{
    float: left;
    width: 220px;
    clear: left;
    border-style: solid;
    border-width: 0px;
/*    background-color: #0099ff;*/
/*    margin-top: 100px;*/
/*    background: url('../assets/images/temp/1 (4).png');*/
    background: url('../assets/images/temp/1 (8).png');
    margin-top: 20px;
    padding: 0.5em;
}

#clock{
    text-align: center;
}

/* Main content */
#main_body{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
/*    background: url('../assets/images/sunflower.jpg');*/
    display: block;
    overflow: hidden;
    padding: 0.5em;
    width: 77%;
    border-style: solid;
    border-width: 1px;
    background: url('../assets/images/temp/1 (8).png') ;
}

/* Links from side menu */
#link{
    float: left;
    clear: left;
    margin-top: 15px;
    margin-left: 85px;
    margin-bottom: 15px;
}

/* Cells from course list table */
#course_list td, #course_list th{
    background-color: #6495ED;
    border-color: #00002F;
}

/* Button css begins */
#testbutton, #testbutton:visited{
      
/*    background: url('../assets/images/simple_button.png') repeat-x;  */
/*    background-color: #6666ff;*/
    background-color: #006666;
    width: 80px;  
    padding:3px 0;  
    text-align:center;  
    border:1px solid #608925;  
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
    font-weight:bold;  
    text-transform:uppercase;  
    border-radius: 5px;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    color:#FFF;  
    text-decoration: none;  
    opacity:.85;  
    margin-right: 10px;
}  
        
      
#testbutton:hover{  
    border-color:#49671d;  
}  

#testbutton:active{  
    background-position:  0 -200px;  
/*    padding:4px 0 2px;  */
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
}
/* Button css ends */

input[type=file]{
    border-style: none;
}

a:hover{
    text-decoration: none;
    color: red;
}

/* Email form*/
#email_form input[type=text]{
    display: block;
    width: 346px;
}

#logout{
    width: 96%;
    float: left;
    clear: both;
    margin-left: 245px;
    font-size: larger;
}

#logout a{
    color: #66ccff;
}

#link a{
    opacity: 0.55;
}

#admin_menu{
    float: left;
    clear: left;
    border-style: ridge;
    padding: 1em;
    width: 600px;
    margin-bottom: 5px;
}

#admin_menu h3 a{
    text-decoration: none;
}

/* admin menu */
#action_logo{
    float: left;
    width: 100px;
}

#action_description{
    float: left;
    clear: right;
}

/* excel menu */
#excel img{
    margin-left: 922px;
}
/* Navigation div 
#navmenu{
    width: 96%;
    float: left;
    clear: both;
}

 Navigation ul 
#nav{
    list-style: none;
    margin-left: 206px;
    margin-top: 0px;
}

 Navigation li 
#nav li{
    float: left;
    border-style: solid;
    width: 100px;
    border-width: 1px;
    padding: 0.5em;
    text-align: center;
    background-color: #6699ff;
}

#nav li a{
    text-decoration: none;
}

#nav li:hover{
    background-color: #6666ff;
}*/

/* Navigation menu css starts */
#cssmenu ul{
	margin:0;
        margin-left: 246px;
	padding:0;
	list-style-type:none;
	position:relative;
	display:block;
	height:40px;
	text-transform:uppercase;
	font-size:13px;
	background:transparent url('../assets/images/black.jpg') repeat-x top left;
	font-family:Helvetica,Arial,Verdana,sans-serif;
        width: 909px;
}

#cssmenu li{
	display:block;
	float:left;
	margin:0;
	pading:0;
	border-right:1px solid #ffffff;
        width: 100px;
	}
        
#cssmenu li a{
	display:block;
	float:left;
	color:#ffffff;
	text-decoration:none;
	padding:12px 20px 0 20px;
	height: 28px;
	}
        
#cssmenu li:hover{
    background:transparent url('../assets/images/blue.jpg') repeat-x top left;	
}
/* Navigation menu css ends */

/* course list table css starts */
.CSSTableGenerator {

	margin:0px;padding:0px;

	width:100%;

	border:1px solid #000000;

	

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

	

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

	

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

	

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}.CSSTableGenerator table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;

}.CSSTableGenerator tr:last-child td:last-child {

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

}

.CSSTableGenerator table tr:first-child td:first-child {

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}

.CSSTableGenerator table tr:first-child td:last-child {

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

}.CSSTableGenerator tr:last-child td:first-child{

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

}.CSSTableGenerator tr:hover td{

	background-color:#ffffff;

		


}

.CSSTableGenerator td{

	vertical-align:middle;

		background:-o-linear-gradient(bottom, #ffaa56 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffaa56), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #ffaa56 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaa56", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffaa56,ffffff);


	background-color:#ffaa56;


	border:1px solid #000000;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:5px;

	font-size:12px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;

}.CSSTableGenerator tr td:last-child{

	border-width:0px 0px 1px 0px;

}.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.CSSTableGenerator tr:first-child td{

		background:-o-linear-gradient(bottom, #605143 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #605143), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #605143 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#605143", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#605143,bf5f00);


	background-color:#605143;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

}

.CSSTableGenerator tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #605143 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #605143), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #605143 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#605143", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#605143,bf5f00);


	background-color:#605143;

}

.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}
/* course list table css ends */

/* input hover effect */
input:hover{
    background: #99ffff;
}