#container, #header, #footer, #main_content{
    border-width: 0px;
}
/* container div */
#container{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 1.5em;
}

/* header div */
#header{
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 1.5em;
    background: url('../asset/images/1.png');
    color: silver;
    text-align: center;
    font-size: large;
}

/* main_content div */
#main_content{
    border-style: solid;
    border-radius: 15px;
    padding: 1.5em;
    background: url('../asset/images/4.png');
}

/* footer div */
#footer{
    margin-top: 10px;
    border-style: solid;
    border-radius: 15px;
    font-style: oblique;
    padding: 1.5em;
    background: url('../asset/images/1.png');
    color: green;
    text-align: center;
}

/* login form */
#login_form{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-style: solid;
    padding: 1.5em;
    border-radius: 15px;
}

/* registration form */
#register_form{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-style: solid;
    padding: 1.5em;
    border-radius: 15px;
}

a{
	color: darkblue;
}

#login_form{
    margin-top: 130px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    border-width: 2px;
}

#register_form{
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
}

#admin_index a:hover{
    text-decoration: none;
    background-color: green;
}

#student_index a:hover{
    text-decoration: none;
    background-color: green;    
}

a:hover{
    text-decoration: none;
}